/* #qrcode {
  width: 256px;
  height: 256px;
  margin-top:15px;
} */

#text{
  width: 250px;
} 

#container{
  margin: 70px auto;
  /* border: 1px solid red; */
  text-align: center;
}
#qrcode{
  display: flex;
  margin: 30px auto;
  /* border: 1px solid blue;  */
  justify-content: center;
}
body{
  background-image: url("1.jpg");
  background-size: cover;
}
#text:hover{
  background-color: rgb(224, 179, 224);
}